* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	background: #fff;
    font-family: "Open Sans";
    font-weight: 300;
    color: #555;
    line-height: 1.5;
}

h1 {
	line-height: 1.2;
}

h1,
h2,
h3,
h4,
p,
ul,
ol {
    margin-bottom: 24px;
}

img {
	max-width: 100%;
}

.flat {
	margin-bottom: 0 !important;
}

.container {
    padding: 0 24px;
    max-width: 1000px;
    margin: 0 auto;
}

.section {
	padding: 24px 0;
}

.hero {
    color: #fff;
    position: relative;
	background: #1c3048;
    background-image: linear-gradient(-225deg, #16355a 3%, #31786C 48%, #23bb48 100%);
    overflow: hidden;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.hero__bg {
	position: absolute;
    bottom: -500%;
    left: -500%;
    top: -500%;
    right: -500%;
    background-size: 25%;
    z-index: 1;
    background-image: url(../images/pattern.svg);
    opacity: 0.05;
    background-position: center;
    animation: rotate 160s ease infinite;
}

.hero__title {
	text-shadow: 0 1px 2px rgba(0,0,0,0.25);
}

.hero__container {
	position: relative;
    z-index: 10;
}

.hero__content {
    padding: 48px 0;
}

.header {
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
	width: 140px;
}

.triangle {
	width: 279px;
    height: 214px;
    background-image: url(../images/triangle.svg);
    background-size: 279px;
    background-position: center;
    margin: 0 auto;
    position: relative;
    margin-bottom: 68px;
}

.triangle__point {
    width: 120px;
    height: 120px;
    background-position: center;
    background-image: url(../images/triangle-point.svg);
    background-repeat: no-repeat;
    position: absolute;
}

.triangle__point:nth-child(1) {
    left: 78px;
    top: -40px;
}

.triangle__point:nth-child(2) {
    left: -43px;
    top: 155px;
}

.triangle__point:nth-child(3) {
    right: -43px;
    top: 155px;
}

.triangle__avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #555;
    top: 33px;
    left: 44px;
    position: absolute;
    overflow: hidden;
    text-align: center;
}

@keyframes showLabel {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}

@keyframes showImg {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    60% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.triangle__avatar img {
    position: relative;
	width: 24px;
    opacity: 0;
    animation: showImg 0.5s 0.25s ease forwards;
}

.triangle__point:nth-child(2) .triangle__avatar img {
    animation-delay: 0.75s;
}

.triangle__point:nth-child(3) .triangle__avatar img {
    animation-delay: 1s;
}

.triangle__label {
    position: absolute;
    bottom: 33px;
    text-align: center;
    width: 100%;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0;
    animation: showLabel 0.5s 0.5s ease forwards;
}

.triangle__point:nth-child(2) .triangle__label {
    animation-delay: 1s;
}

.triangle__point:nth-child(3) .triangle__label {
    animation-delay: 1.5s;
}

@keyframes moveArrows1 {
    0% {
        opacity: 0;
        transform: translateX(-12px, 20px, 0) rotate(124deg);
    }
    50% {
        opacity: 1;
        transform: translate3d(12px, -20px, 0) rotate(124deg);
    }
    100% {
        opacity: 0;
        transform: translateX(0) rotate(124deg);
    }
}

@keyframes moveArrows2 {
    0% {
        opacity: 0;
        transform: translateX(-12px, -20px, 0) rotate(57deg);
    }
    50% {
        opacity: 1;
        transform: translate3d(12px, 20px, 0) rotate(57deg);
    }
    100% {
        opacity: 0;
        transform: translate3d(0,0,0) rotate(57deg);
    }
}
@keyframes moveArrows3 {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    50% {
        opacity: 1;
        transform: translateX(-20px);
    }
    100% {
        opacity: 0;
        transform: translateX(0);
    }
}

.triangle__arrows {
	position: absolute;
    width: 28px;
    height: 10px;
    background-image: url(../images/triangle-arrows.svg);
}

.triangle__arrows:nth-child(1) {
    left: 38px;
    top: 135px;
    transform: rotate(124deg);
    animation: moveArrows1 2s ease infinite;
}

.triangle__arrows:nth-child(2) {
    right: 60px;
    top: 100px;
    transform: rotate(57deg);
    animation: moveArrows2 2s ease infinite;
}

.triangle__arrows:nth-child(3) {
    top: 197px;
    left: 123px;
    animation: moveArrows3 2s ease infinite;
}

.toggle {
	display: flex;
    box-shadow: 0 1px 1px rgba(0,0,0,.25);
    margin-bottom: 24px;
    border-radius: 4px;
    overflow: hidden;
}

.toggle__option {
	width: 50%;
    text-align: center;
    padding: 12px 0;
    background: #eee;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.25s ease;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.toggle__option:hover {
	background: #f2f2f2;
}

.toggle__option--on {
	background: #fff;
    opacity: 1;
}

.toggle__option--on:hover {
    background: #fff;
}

.triangle--school .occupational {
    display: none;	
}

.triangle--school .school {
    display: inline-block;
}

.triangle--occupational .school {
    display: none;	
}

.triangle--occupational .occupational {
    display: inline-block;
}

.triangle__message {
	font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    color: #999;
    position: absolute;
}

.triangle__message:nth-child(1) {
    top: 100px;
    left: 14px;
    transform: rotate(303deg);
}

.triangle__message:nth-child(2) {
    top: 97px;
    right: 18px;
    transform: rotate(58deg);
}

.triangle__message:nth-child(3) {
    bottom: -20px;
    text-align: center;
    width: 100%;
}
